


<!-- <div class="container">
    <h1>List of people addresses</h1>
 <a class="btn btn-primary" [routerLink]="[ 'person/add/0', routeParam ]">Add</a> 
</div>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.address}}</td>
            <td>{{person.city}}</td>
            <td>{{person.state}}</td>
            <td><a [routerlink]="['person/edit',person.id]"> Edit</a></td>
            <td><button (click)="onDelete(person.id)">x</button></td>

        </tr>
    </tbody>
</table> -->


<div>
    <h1>App component!</h1>
   
    
</div>
<router-outlet></router-outlet>
